{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="about-container">

    {% if about %}

    <!-- HEADER -->
    <div class="about-header">
        <img src="{{ about.university_logo.url }}" class="logo">
        <img src="{{ about.college_logo.url }}" class="logo">

        <h1>{{ about.project_name }}</h1>
    </div>

    <!-- DESCRIPTION -->
    <div class="about-desc">
        {{ about.description|safe }}
    </div>

    <!-- GROUP -->
    <div class="group-section">
        <h2>👥 {{ about.group_name }}</h2>
        <img src="{{ about.group_image.url }}" class="group-img">
    </div>

    {% endif %}

</div>

{% endblock %}