{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/topics.css' %}">

<div class="container">

    <h1>{{ category.name }}</h1>

    <div class="list">

        {% for topic in topics %}
        <div class="topic-card">

            <h3>{{ topic.title }}</h3>

            <div class="buttons">
                <a href="/protocol/{{ topic.id }}/doctor/" class="doc">👨‍⚕️ Doctor</a>
                <a href="/protocol/{{ topic.id }}/nurse/" class="nur">👩‍⚕️ Nurse</a>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}